.logo{
    display:block;
    margin:auto;
    height:50px;
    width:50px;
}

h1{
    margin-top:12px;
    font-size:30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

body{
    background-image:linear-gradient(rgb(210, 95, 95),rgb(227, 236, 233));
    height:100vh;
}
.container{
    max-width:955px;
    border:2px solid black;
    border-radius: 10px;
    margin:auto;
    height:60vh;
    padding:33px;
    word-wrap: break-word;
    margin-bottom: 23px;
}
.message{
    border:2px solid black;
    width:24%;
    padding:10px;
    margin:17px 12px;
    border-radius:10px;
}
.left{
    float:left;
    clear:both;
}
.right{
    float:right;
    clear: both;
}

#send-container{
    text-align:center;
    width:100%;
    max-width:1085px;
    margin:auto;
    display: block;
}
#messageInp{
    width:80%;
    border:2px solid black;
    border-radius:6px;
    height:34px;
    font-size: 20px;
}
.btn{
    margin:0px 5px;
    cursor:pointer;
    border:2px solid black;
    border-radius:6px;
    height:34px;
    width:9%;
}